body {
    margin: 0;
    padding: 0;
}

.main-container {
    height: 100vh;
    width: 100vw;
    background-color: wheat;
}

/* ---- home page start ---- */
.home-page-section {
    height: 100%;
    width: 100%;

}

.header {
    height: 20%;
    width: 100%;
    background-color: rgb(67, 66, 65);
}

.home-detials {
    height: 80%;
    width: 100%;
    background-color: rgb(59, 44, 29);
    display: flex;
}
.detials-box-one{
     height: 100%;
    width: 70%;
    background-color: rgb(17, 17, 17);
}
.home-page-img{
     height: 100%;
    width: 30%;
  
}
img{
      height: 100%;
    width: 100%;
}



/*  */
.section-two {
    height: 100%;
    width: 100%;
    background-color: rgb(57, 0, 0);
}